!!!
%html{:style => "height: 100%;"}
  %head
    %script{:type=>"text/javascript"}
      var array = new Array();
      var i = 0
      -@tag_array.each do |tag|
        array.push(#{raw tag.to_json})
      $(function() {
      // When DOM is ready, select the container element and call
      // the jQCloud method, passing the array of words as the first argument.
      for (i = 0; i < array.length; i++) {
      $("#tag_" + i).jQCloud(array[i]);
      }
      });
    -@size *= @tag_array.length / 3
    %body{:style => "height: #{@size}px;"}
      %h1{:style => "text-align: center;"} Minera Pipe
      %h4{:style => "text-align: center;"} Índice de projetos agrupados por assunto
      %table{:style=>"text-align: left; border-spacing: 30px; width: 100%; height: 100%;"}
        %tbody
          -@tag_array.in_groups_of(3).each do |group|
            %tr{:style => "height: 400px;"}
              -group.each do |tag|
                %td{:style=>"width: 33%; background-color:#FBF6F1;"}
                  %div{:id => "tag_#{@index}", :style => "width: 100%; height: 100%;"}
                    -@index = @index + 1